html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: darkgray;
    margin: 0;
}

button {
    display: block;
    margin: 20px auto;
}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pixel {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    flex: 1;
}

#sketch-container {
    background-color: black;
    margin: auto;
    width: 860px;
    height: 860px;
    display: flex;
    padding: 20px;
}